<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% if title %}
        <title>Project Management - TechCamp - {{ title }}</title>
    {% else %}
        <title>Project Management - TechCamp</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='project.css') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='pm-logo.jpg') }}">
</head>
<body>
{#    {% with messages = get_flashed_messages(with_categories=true)%}#}
{#        {% if messages %}#}
{#            {% for category,message in messages %}#}
{#                <div class="alert alert-{{ category }}">#}
{#                    {{ message }}#}
{#                </div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    {% endwith %}#}

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">

          <a class="navbar-brand js-scroll-trigger" href="{{ url_for('projects.all_projects') }}">Project Management</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ url_for('projects.all_projects') }}">Home</a>
              </li>
                <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
              </li>

                <div class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <div class="dropdown">
                      <button onclick="myFunction1()" class="dropbtn">Add</button>
                      <div id="myDropdown1" class="dropdown-content">
                        <a href="{{ url_for('projects.add_region') }}">Region</a>
                        <a href="{{ url_for('projects.add_country') }}">Country</a>
                        <a href="{{ url_for('projects.add_party_to') }}">Party To</a>
                        <a href="{{ url_for('projects.add_SDG') }}">SDG</a>
                        <a href="{{ url_for('projects.add_program') }}">Project</a>
                      </div>
                    </div>
                {% endif %}
              </div>

              <div class="navbar-nav">
                {% if current_user.is_authenticated %}


                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn">Account</button>
                      <div id="myDropdown" class="dropdown-content">
                        <a href="{{ url_for('users.Account') }}">Account</a>
                        <a href="{{ url_for('users.Logout') }}">Logout</a>
                      </div>
                    </div>
                {% else %}
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('users.Login') }}">Login</a>
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('users.Register') }}">Register</a>
                {% endif %}
              </div>
            </ul>
          </div>

      </nav>

    {% block content %}
    {% endblock content %}

    {% block leon %}

    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>

    <script>
        function myFunction1() {
          document.getElementById("myDropdown1").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
    </script>
</body>
</html>
