{% extends "layout.html" %}
{% block content %}
    <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{ url_for('static', filename='pm-logo.jpg') }}" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">{{ title }}</h2>

                    {% with messages = get_flashed_messages(with_categories=true)%}
                        {% if messages %}
                            {% for category,message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                        <form method="POST" class="register-form" id="login-form">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid", type="email", id="email", placeholder="Your Email") }}
                                    <div class="invalid-feedback">
                                        {% for error in  form.email.errors%}
                                            <label for="remember-me" class="label-agree-term"><span><span></span></span>{{ error }}</label>
                                        {% endfor %}
                                        
                                    </div>
                                {% else %}
                                    {{ form.email(type="email", id="email", placeholder="Your Email") }}
                                {% endif %}
{#                                <input type="email" name="email" id="email" placeholder="Your Email"/>#}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{ form.password(type="password", id="pass", placeholder="Password") }}
{#                                <input type="password" name="pass" id="pass" placeholder="Password"/>#}
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                {{ form.submit(type="submit", id="signup", class="form-submit") }}
{#                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>#}
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock content %}