.hzQACJ {
    font-size: 21px;
    font-weight: 700;
    color: rgb(41, 41, 41);
    line-height: 1.53;
    margin-bottom: 10px;
    font-family: "Fira Sans", sans-serif;
}
.crQIso {
    font-size: 15px;
    color: rgb(41, 41, 41);
    font-weight: 400;
    line-height: 2;
    margin-bottom: 0px;
}
.uefLh {
    /*padding-left: 210px;*/
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}
.jyAgbM {
    font-size: 30px;
    font-weight: 700;
    color: rgb(209, 0, 104);
    margin-bottom: 8px;
}